<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591060307372-mclctsnlh9l7e8bab44rli1i91cln1lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591060307372-mclctsnlh9l7e8bab44rli1i91cln1lb</string>
	<key>API_KEY</key>
	<string>AIzaSyDzGJHMEJpFfqx_CCTv5DO-Zy6BLHwQ-U8</string>
	<key>GCM_SENDER_ID</key>
	<string>591060307372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpl.mpinew</string>
	<key>PROJECT_ID</key>
	<string>mpinoti-b0684</string>
	<key>STORAGE_BUCKET</key>
	<string>mpinoti-b0684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591060307372:ios:e8a24e3ea38ed8c2bd7e09</string>
</dict>
</plist>